.idea
*.iml
**/roles/*
**/collections/*
!**/roles/requirements.yml
!**/roles/loki
!**/roles/node_exporter
!**/roles/restic
!**/roles/fail2ban
.galaxy_install_info
*.retry
**/*.retry
.vagrant
*vault_pass*.txt*
*.pyc
.virtualenv
.virtualenv_ng
/templates/listing_backup.html
.vscode/
DS_Store
