.idea
*.iml
**/roles/*
**/collections/*
!**/roles/requirements.yml
!**/roles/promtail
!**/roles/node_exporter
.galaxy_install_info
*.retry
**/*.retry
.vagrant
*vault_pass*.txt*
*.pyc
.virtualenv
.virtualenv_ng
/templates/listing_backup.html
.vscode/
DS_Store
!roles/restic
